<div class="row">
  <div class="col-sm-12">
			<h5>Post Library</h5>
			{% for category in site.categories %}
					<div class="catbloc" id="{{ category | first | remove:' ' }}">
							<li>
								<label class="tree-toggle nav-header">{{ category | first }}</label>
							<ul class="nav nav-list tree" style="display: none;">
								 {% for posts in category %}
									 {% for post in posts %}
										 {% if post.url %}
											 <li>
												 <!-- <time>{{ post.date | date: "%B %-d, %Y" }}</time> -->
												 <a href="{{ post.url }}">
													 {{ post.title }}
												 </a>
											 </li>
										 {% endif %}
									 {% endfor %}
								 {% endfor %}
							</ul>
							</li>
					</div>
			{% endfor %}
  </div>
</div>
