.navbar-andross
	border: none
	border-radius: 0
	min-height: 65px
	background: $theme
	.cta
		background: $brand
		color: #fff
		border: 1px solid $brand
		&:hover
			background: $brand-light
			border: 1px solid $brand-light
			color: #fff
			@include transition
			@include shadow

	.cta2
		background: #fff
		border: 1px solid $brand
		color: $brand
		&:hover
			border: 1px solid $brand-light
			@include transition
			@include shadow

.navbar-andross .navbar-brand
	color: $brand
	padding-top: 33px
	padding-bottom: 33px
	font-size: 20px
	text-transform: uppercase

.navbar-nav>li
	margin-right: 10px
	@include transition

.navbar-nav>li>a
	font-size: 20px
	margin-top: 12px
	padding: 10px 10px
	border-radius: 5px
	@include transition

.navbar-left>li>a
	border: 0
	background: transparent
	color: $brand
	&:hover
		background: transparent
		color: $brand-light

.fa-bars
	color: $brand

.navbar-toggle
	margin-top: 20px

.navbar
	padding-right: 15px
