// .owl-wrapper
// 	text-align: center
// 	flex-wrap: wrap
// 	background: tomato
// 	height: 500px
.item
	position: relative
	margin: 0rem 10px
	padding: 5rem
	height: 100%
	flex: flex-end
	&::before
		content: "“"
		color: $brand-light
		font-size: 8rem
		position: absolute
		left: 0rem
		top: -1rem
	&::after
		content: "”"
		color: $brand-light
		font-size: 8rem
		position: absolute
		right: 0
		bottom: 18rem
.testimonial
	font-size: 1.8rem
	font-family: serif
	font-style: italic

.testimonial-attribute
	font-weight: bold

.testimonial-container
	background: $brand
	color: $testimonial_fontcolor

.testimonial-navigation
	padding: 10px
	display: flex
	width: 100%
	justify-content: space-between
	a
		color: $brand-light
		font-size: 3rem
		cursor: pointer
		+transition
		&:hover
			color: lighten($brand-light, 10%)
	h3
		padding: 0 10px
		text-align: center
